client/node_modules
client/dist
client/.cache

node_modules
.cache/
dist/
py/s3_test_connect.py
py/__pycache__
.gitconfig
*.zip
*.gz
*.csv
!*/client/src/js/SportMap/uk_postcode_areas.csv
*.pyc
*.h5
package-lock.json
.env
appplaybook.db/
/py